<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="user" type="com.theIronYard.entity.User"*/-->
<!--/*@thymesVar id="role" type="com.theIronYard.entity.Role"*/-->

<head>
</head>
<body>
<header th:fragment="pageHead">
    <h1>Foster Story</h1>
    <div>
        <label for="user-menu">User Menu</label>
        <ul name="user-menu" id="user-menu">
            <li><a th:href="@{/story}" href="../story.html">Post Animal Story</a></li>
            <li><a th:href="@{/profile}" href="../profile.html">Edit my Profile</a></li>
            <li><a th:href="@{/profile}" href="../profile.html">Update my animals</a></li>
            <li><a th:href="@{/login}" href="../login.html">Logout</a></li>
        </ul>
    </div>
</header>
</body>
</html>