<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="user" type="com.theIronYard.entity.User"*/-->
<!--/*@thymesVar id="role" type="com.theIronYard.entity.Role"*/-->
<!--/*@thymesVar id="breed" type="com.theIronYard.entity.Breed"*/-->
<!--/*@thymesVar id="type" type="com.theIronYard.entity.Type"*/-->
<!--/*@thymesVar id="breeds" type="java.util.List<Type>"*/-->
<!--/*@thymesVar id="types" type="java.util.List<Breed>"*/-->
<!--/*@thymesVar id="search" type="com.theIronYard.bean.Search"*/-->
<!--/*@thymesVar id="animal" type="com.theIronYard.entity.Animal"*/-->
<!--/*@thymesVar id="animals" type="java.util.List<Animal>"*/-->

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}" />
</head>
<body>
    <header class="row" th:replace="fragments/pageHead :: pageHead">
        <h1>Foster Story</h1>
    </header>
    <div class="container-fluid main-body">

    <form class="row" id="searchForm" role="form" action="list.html" th:action="@{/}" method="post">

        <h3>Search for an Animal:</h3>
        <div>
            <label for="typeId">
                <strong>Type:</strong>
            </label>
            <select name="typeId" id="typeId">
                <option value="">select...</option>
                <option th:each="type : ${types}"
                        th:text="${type.name}"
                        th:value="${type.id}"
                        th:selected="${search.typeId} == ${type.id}">Cat</option>
            </select>
        </div>

        <div>
            <label for="breedId">
                <strong>Breed:</strong>
            </label>
            <select name="breedId" id="breedId">
                <option value="">select...</option>
                <option th:each="breed : ${breeds}"
                        th:text="${breed.name}"
                        th:value="${breed.id}"
                        th:selected="${search.breedId} == ${breed.id}">Cat</option>
            </select>
        </div>

        <div>
            <label for="name">
                <Strong>Name:</Strong>
            </label>
            <input type="text" name="name" id="name" placeholder="animal's name" th:value="${search.name}"/>
        </div>

        <div>
            <label for="locale">
                City/Zip
            </label>
            <input type="text" name="locale" id="locale" placeholder="City or Zipcode" />
        </div>

        <div>
            <label for="animalId">
                <strong>Animal ID:</strong>
            </label>
            <input type="text" name="animalId" id="animalId" placeholder="ID" th:text="${search.id}"/>
        </div>

        <button type="submit" id="search" name="action" value="search">Search</button>
        <button type="submit" id="clear" name="action" value="clear">Clear</button>

    </form>

    <div class="row" id="featureStory">
        <img />
        <div class="textBody"></div>
    </div>

    <div class="row" id="animalTiles">
        <div class="col-sm-4 animal-tile" th:each="animal : ${animals}">
            <a href="details.html" th:href="@{....}"><img src="../static/images/" th:src="@{images/}" />
                <div th:text="${animal.name}" class="animal-name">name</div>
                <div th:text="${animal.getUser().getAddress().getCity()}" class="animal-city">city, ST</div>
            </a>
        </div>
    </div>
    </div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
