<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Login</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}" />
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet" />
</head>
<body>

<nav th:replace="fragments/pageHead :: pageHead">
    <ul>
        <li><a href="list.html">List Animals</a></li>
        <li><a href="login.html">Foster Parents</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="list.html">Search</a></li>
    </ul>
</nav>

<div class="container-fluid main-body">

<h2>Login</h2>

<form action="login.html" th:action="@{/login}" th:object="${login}" method="post">
    <p th:if="*{loginFailed}" class="error" >Login Failed!!!</p>

    <div>
        <label for="email" >
            Email:
        </label>
        <input type="email" name="email" id="email" value="" th:value="*{email}" />
        <ul class="error"><li th:each="err : ${#fields.errors('email')}" >Error!</li></ul>
    </div>

    <div>
        <label for="password">
            Password:
        </label>
        <input type="password" name="password" id="password" value="" />
        <ul class="error"><li th:each="err : ${#fields.errors('password')}" >Error!</li></ul>
    </div>
    <div>
         <button class="btn" >Login!</button>
    </div>
    <div>
        <a href="register.html" th:href="@{/register}">Register a new account</a>
    </div>
</form>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>