<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--/*@thymesVar id="user" type="com.fosterstory.entity.User"*/-->
<!--/*@thymesVar id="role" type="com.fosterstory.entity.Role"*/-->
<!--/*@thymesVar id="image" type="com.fosterstory.entity.Image"*/-->
<!--/*@thymesVar id="address" type="com.fosterstory.entity.Address"*/-->

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}" />
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet" />
</head>
<body>

<nav th:replace="fragments/pageHead :: pageHead">
    <div class="row">
        <div class="col-md-3"> <div class="well"> <a href="list.html">List Animals</a> </div> </div>
        <div class="col-md-3"> <div class="well"> <a href="login.html">Become Foster Parents</a></div></div>
        <div class="col-md-3"> <div class="well"> <a href="about.html">About Us</a></div></div>
        <div class="col-md-3"> <div class="well"> <a href="list.html">Search</a></div></div>
    </div>
</nav>

<div class="container-fluid main-body">

<div id="fosterParentDetails">
    <form id="editProfile" role="form" action="profile.html" th:action="@{/profile}" method="post" th:object="${user}">
        <div id="leftColumn" class="col-md-6">
            <h2>Foster Parent Details</h2>

            <input type="hidden" name="id" id="id" th:value="*{id}" />

            <label for="email">
                Email:
            </label>
            <input type="email" name="email" id="email" th:value="*{email}" />

            <label for="nickName">
            Nick Name:
            </label>
            <input type="text" name="nickName" id="nickName" th:value="*{nickName}"/>

            <label for="firstName">
                First name:
            </label>
            <input type="text" name="firstName" id="firstName" th:value="*{firstName}" />

            <label for="middleName">
                Middle name:
            </label>
            <input type="text" name="middleName" id="middleName" th:value="*{middleName}"/>

            <label for="lastName">
                Last name:
            </label>
            <input type="text" name="lastName" id="lastName" th:value="*{lastName}" />

            <label for="phone">
                Phone:
            </label>
            <input type="text" name="phone" id="phone" th:value="*{phone}"/>

            <label for="address">
                Address
            </label>
            <div th:name="address" id="address" th:object="${address}">
                <label for="street1">
                    Street:
                </label>
                <input type="text" name="street1" id="street1" th:value="*{street1}"/>
                <input type="text" name="street2" id="street2" th:value="*{street2}"/>

                <label for="city">
                    City:
                </label>
                <input type="text" name="city" id="city" th:value="*{city}"/>

                <label for="state">
                    State:
                </label>
                <select name="state" id="state">
                    <option value="">select...</option>
                    <option value="AL" th:selected="*{state == 'AL'}">Alabama</option>
                    <option value="AK" th:selected="*{state == 'AK'}">Alaska</option>
                    <option value="AZ" th:selected="*{state == 'AZ'}">Arizona</option>
                    <option value="AR" th:selected="*{state == 'AR'}">Arkansas</option>
                    <option value="CA" th:selected="*{state == 'CA'}">California</option>
                    <option value="CO" th:selected="*{state == 'CO'}">Colorado</option>
                    <option value="CT" th:selected="*{state == 'CT'}">Connecticut</option>
                    <option value="DE" th:selected="*{state == 'DE'}">Delaware</option>
                    <option value="DC" th:selected="*{state == 'DC'}">District of Columbia</option>
                    <option value="FL" th:selected="*{state == 'FL'}">Florida</option>
                    <option value="GA" th:selected="*{state == 'GA'}">Georgia</option>
                    <option value="HI" th:selected="*{state == 'HI'}">Hawaii</option>
                    <option value="ID" th:selected="*{state == 'ID'}">Idaho</option>
                    <option value="IL" th:selected="*{state == 'IL'}">Illinois</option>
                    <option value="IN" th:selected="*{state == 'IN'}">Indiana</option>
                    <option value="IA" th:selected="*{state == 'IA'}">Iowa</option>
                    <option value="KS" th:selected="*{state == 'KS'}">Kansas</option>
                    <option value="KY" th:selected="*{state == 'KY'}">Kentucky</option>
                    <option value="LA" th:selected="*{state == 'LA'}">Louisiana</option>
                    <option value="ME" th:selected="*{state == 'ME'}">Maine</option>
                    <option value="MD" th:selected="*{state == 'MD'}">Maryland</option>
                    <option value="MA" th:selected="*{state == 'MA'}">Massachusetts</option>
                    <option value="MI" th:selected="*{state == 'MI'}">Michigan</option>
                    <option value="MN" th:selected="*{state == 'MN'}">Minnesota</option>
                    <option value="MS" th:selected="*{state == 'MS'}">Mississippi</option>
                    <option value="MO" th:selected="*{state == 'MO'}">Missouri</option>
                    <option value="MT" th:selected="*{state == 'MT'}">Montana</option>
                    <option value="NE" th:selected="*{state == 'NE'}">Nebraska</option>
                    <option value="NV" th:selected="*{state == 'NV'}">Nevada</option>
                    <option value="NH" th:selected="*{state == 'NH'}">New Hampshire</option>
                    <option value="NJ" th:selected="*{state == 'NJ'}">New Jersey</option>
                    <option value="NM" th:selected="*{state == 'NM'}">New Mexico</option>
                    <option value="NY" th:selected="*{state == 'NY'}">New York</option>
                    <option value="NC" th:selected="*{state == 'NC'}">North Carolina</option>
                    <option value="ND" th:selected="*{state == 'ND'}">North Dakota</option>
                    <option value="OH" th:selected="*{state == 'OH'}">Ohio</option>
                    <option value="OK" th:selected="*{state == 'OK'}">Oklahoma</option>
                    <option value="OR" th:selected="*{state == 'OR'}">Oregon</option>
                    <option value="PA" th:selected="*{state == 'PA'}">Pennsylvania</option>
                    <option value="RI" th:selected="*{state == 'RI'}">Rhode Island</option>
                    <option value="SC" th:selected="*{state == 'SC'}">South Carolina</option>
                    <option value="SD" th:selected="*{state == 'SD'}">South Dakota</option>
                    <option value="TN" th:selected="*{state == 'TN'}">Tennessee</option>
                    <option value="TX" th:selected="*{state == 'TX'}">Texas</option>
                    <option value="UT" th:selected="*{state == 'UT'}">Utah</option>
                    <option value="VT" th:selected="*{state == 'VT'}">Vermont</option>
                    <option value="VA" th:selected="*{state == 'VA'}">Virginia</option>
                    <option value="WA" th:selected="*{state == 'WA'}">Washington</option>
                    <option value="WV" th:selected="*{state == 'WV'}">West Virginia</option>
                    <option value="WI" th:selected="*{state == 'WI'}">Wisconsin</option>
                    <option value="WY" th:selected="*{state == 'WY'}">Wyoming</option>
                </select>

                <label for="zip">
                    ZIP Code:
                </label>
                <input type="text" name="zip" id="zip" th:value="*{zip}"/>
            </div>
            <label for="user-image">
                Profile Image:
            </label>
            <img src=""/>
            <input type="file" name="user-image" id="user-image" />
        </div>

        <div class="row col-md-6" id="rightColumn">
            <h2>Social Media Links</h2>

            <div class="row">
                <label class="tumblr-logo" for="tumblr">
                    <img src="../static/images/tumblr_logotype_whiteonblue/tumblr_logotype_whiteonblue_128.png" id="tumblr-logo"
                         th:src="@{images/tumblr_logotype_whiteonblue/tumblr_logotype_whiteonblue_128.png}"/>
                </label>
                <input type="url" name="tumblr" id="tumblr" th:value="*{tumblr}"/>
            </div>
            <div class="row">
                <label for="bio">
                    Bio
                </label>
            </div>
            <div class="row">
                <textarea class="foster-bio" name="bio" id="bio" rows="10" cols="50"></textarea>
            </div>
        </div>
        <button type="submit" id="save" name="action" value="save">Save Changes</button>
        <button type="submit" id="clear" name="action" value="clear">Reset form</button>
    </form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>