<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="user" type="com.theIronYard.entity.User"*/-->
<!--/*@thymesVar id="role" type="com.theIronYard.entity.Role"*/-->

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}" />
</head>
<body>

<nav th:replace="fragments/pageHead :: pageHead">
    <div class="row">
        <div class="col-sm-3"> <div class="well"> <a href="list.html">List Animals</a> </div> </div>
        <div class="col-sm-3"> <div class="well"> <a href="login.html">Become Foster Parents</a></div></div>
        <div class="col-sm-3"> <div class="well"> <a href="about.html">About Us</a></div></div>
        <div class="col-sm-3"> <div class="well"> <a href="list.html">Search</a></div></div>
    </div>
</nav>

<div class="container-fluid main-body">

<div id="animalDetails">
    <div class="leftColumn">
        <div id="stats">
            <label for="name">
                Name
            </label>
            <input type="text" name="name" id="name" />

            <label for="type">
                Animal Type:
            </label>
            <select name="type" id="type">
                <option value="1">Dog</option>
            </select>

            <label for="breed">
                Animal Breed:
            </label>
            <select name="breed" id="breed">
                <option value="1">Dog</option>
            </select>

            <label for="age">
                Age:
            </label>
            <input type="number" name="age" id="age" />

            <label for="weight">
                Weight:
            </label>
            <input type="number" name="weight" id="weight" />

            <label for="gender">
                Gender:
            </label>
            <select name="gender" id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>

            <label for="calendar">
                Available Adoption Date
            </label>
            <div id="calendar">

            </div>

            <label for="tumblr">
                <img src="../static/images/tumblr_logotype_whiteonblue/tumblr_logotype_whiteonblue_128.png" th:src="@{images/tumblr_logotype_whiteonblue/tumblr_logotype_whiteonblue_128.png}" alt="Tumblr logo" class="tumblr-logo"/>
            </label>
            <input type="url" name="tumblr" id="tumblr" />
        </div>

        <div class="rightColumn">
            <label for="bio">
                Animal's Rescue Story
            </label>
            <textarea name="bio" id="bio" rows="10" cols="50"></textarea>

            <label for="medical">
                Care and Vaccination info
            </label>
            <textarea name="medical" id="medical" rows="10" cols="50"></textarea>
        </div>
    </div>
</div>

<div id="animalTiles">

</div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>