<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<!--/*@thymesVar id="captions" type="java.util.List"*/-->
<!--/*@thymesVar id="caption" type="java.lang.String"*/-->
<!--/*@thymesVar id="posts" type="java.util.List<Post>"*/-->
<!--/*@thymesVar id="post" type="com.fosterstory.entity.Post"*/-->
<!--/*@thymesVar id="animal" type="com.fosterstory.entity.Animal"*/-->
<!--/*@thymesVar id="imageId" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="image" type="com.fosterstory.entity.Image"*/-->

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}" />
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <meta charset="UTF-8" />
    <title>View Animal Details</title>
</head>
<body>
<header th:replace="fragments/pageHead :: pageHead">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="list.html" th:href="@{/}" class="navbar-brand ">
                <img src="../static/images/fosterStoryW.svg" th:src="@{/images/fosterStoryW.svg}" />
            </a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{/}" href="list.html">List Animals</a>
                </li>
                <li>
                    <a th:href="@{/register}" href="register.html">Become Foster Parents</a>
                </li>
                <li>
                    <a th:href="@{/about}" href="about.html">About Us</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/story}" href="story.html">Post Animal Story</a></li>
                        <li><a th:href="@{/profile}" href="profile.html">Edit my Profile</a></li>
                        <li><a th:href="@{/profile}" href="profile.html">Update my animals</a></li>
                        <li><a th:href="@{/logout}" href="login.html">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="container row profile main-body">

    <div class="col-sm-3">

        <div class="row">
            <div class="col-xs-7">
                <img class="animalImage img-responsive" th:src="@{/image(imageId=${imageId})}" src="//placehold.it/350x250"/>
            </div>
            <div class="col-xs-5 col-sm-12">
                <h3>About <span th:text="${animal.name}">Me</span></h3>

                <ul class="profile-details">
                    <li th:if="${animal.breed} != null">
                        <div>Breed</div>
                        <span th:text="${animal.breed.name}">Schnauzer</span>
                    </li>
                    <li th:if="${animal.gender} != ''">
                        <div>Gender</div>
                        <span th:text="${animal.gender}">Female</span>
                    </li>
                    <li th:if="${animal.age} != null">
                        <div>Age</div>
                        <span th:text="${animal.age}">3</span>
                    </li>
                    <li th:if="${animal.weight} != null">
                        <div>Weight</div>
                        <span th:text="${animal.weight}">29lbs</span>
                    </li>
                    <li>
                        <div>My Social Links</div>
                        Tumblr <span th:if="${animal.tumblr} != ''" th:text="${animal.tumblr} +'.tumblr.com'">url</span>
                    </li>
                    <li th:if="${animal.adoptionDate} != null">
                        <div>Available To Adopt</div>
                        <span th:text="${animal.adoptionDate}">November 1st, 2016</span>
                    </li>
                </ul>

                <h3>Foster Parent</h3>

                <ul class="profile-details">
                    <li th:if="${animal.user.phone} != null">
                        <div>phone</div>
                        <span th:text="${animal.user.phone}">+44 123 456 789</span>
                    </li>
                    <li th:if="${animal.user.tumblr} != null">
                        <div>Social Links</div>
                        Tumblr <span th:text="${animal.user.tumblr} +'.tumblr.com'">url</span>
                    </li>
                    <li th:if="${animal.user.email} != ''">
                        <div>e-mail</div>
                        <span th:text="${animal.user.email}">lukasz@bootstrapmaster.com</span>
                    </li>
                </ul>
            </div>
        </div><!--/row-->

    </div><!--/col-->

    <div class="col-sm-9">

        <!--<ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="page-profile.html#skills">Bio</a></li>
            <li><a href="page-profile.html#friends">Photos</a></li>
            <li><a href="page-profile.html#photos">Foster Parent</a></li>
        </ul>-->
        <div class="tab-content">
            <div class="tab-pane active" id="skills">

                <div class="row">

                    <div class="col-sm-7">
                        <h2>My Foster Story</h2>
                        <p th:text="${animal.story}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <h2>Care Info</h2>
                        <p th:text="${animal.careInfo}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div><!--/col-->

                    <div class="col-sm-5">
                        <h2>Gallery</h2>
                        <div class="animal-gallery">
                            <div class="col-lg-12 col-md-3 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-image-div" th:each="image : ${animal.images}">
                                        <img class="img-fluid card-image card-img-top img-responsive"
                                             src="http://mdbootstrap.com/images/regular/nature/img%20(28).jpg"
                                             th:src="@{/image(imageId=${image.id})}"
                                             alt="Card image cap"/>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div><!--/col-->

                </div><!--/row-->

            </div>

        </div><!--/col-->

    </div>
    </div>
</body>
</html>